$p-color: gray;
$summay-color: darkgray;
$shadow-color: #333333;
$font-small: 16px;
$font-medium: 18px;
$margin-small: 4px;
$margin-medium: 8px;

$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

.movie {
	display: flex;
	height: 400px;
	width: 630px;
	margin: 40px 20px;
	padding: 10px;
	background-color: white;
	border-radius: 8px;
	transition: all 200ms ease-in-out;

	&:hover {
		transform: scale(1.1);
		-webkit-box-shadow: 1px 2px 47px -7px $shadow-color;
		box-shadow: 1px 2px 47px -7px $shadow-color;
		.movie__data {
			overflow: auto;
		}
	}
	img {
		position: relative;
		top: -50px;
		-webkit-box-shadow: 1px 2px 47px -7px $shadow-color;
		box-shadow: 1px 2px 47px -7px $shadow-color;
	}
	.movie__data {
		margin-left: $margin-medium;
		overflow: hidden;
		text-overflow: ellipsis;
		a {
			text-decoration: none;
			color: black;
			.movie__title {
				margin-bottom: $margin-small;
			}
			transition: all 200ms ease-in;
			&:hover {
				font-size: 105%;
			}
		}
		.movie__year {
			margin: $margin-small 0;
		}
		.movie__genres {
			margin: $margin-small 0;
			font-size: $font-medium;
			color: $p-color;
		}
		.movie__rating {
			margin: $margin-small 0;
			font-size: $font-small;
			color: $p-color;
		}
		.movie__summary {
			color: $summay-color;
			font-size: $font-small;
		}
	}
}
@media screen and (max-width: 758px) {
	.movie {
		width: 300px;
		flex-direction: column;
		img {
			height: 50%;
			width: 50%;
		}
		.movie__data {
			font-size: 70%;
			.movie__title {
				margin-top: 0;
			}
			.movie__genres {
				font-size: 80%;
			}
			.movie__rating {
				font-size: 80%;
			}
			.movie__summary {
				font-size: 88%;
			}
		}
	}
}
